.tl-navbar {
    height: 80px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;

    .navbar-brand {
        font-family: 'muli', sans-serif;
        font-size: 2.6rem;
        color: $color-alt;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        transition: letter-spacing ease 0.5s;

        img {
            margin-right: 1rem;
            transition: transform ease .5s;
        }

        strong {
            font-weight: 400;
            color: $color-primary;
        }

        &:hover {
            letter-spacing: 2px;
        }
    }
}
