// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

/////// ONLY FOR DEVELOPER ///////
* {                             //
    animation: none !important; //
}                               //
/////// ONLY FOR DEVELOPER ///////

html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    //-webkit-text-stroke-width: .5px;
}

body {
    color: $mdc-grey-600;
    background-color: $color-back;

    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.6rem;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highcolor-light: rgba(0, 0, 0, 0);
    overflow-x: hidden !important;
}



// -----------------------------------------------------------------------------
// Reset Styles
// -----------------------------------------------------------------------------

input:-webkit-autofill {
    //s-webkit-box-shadow: 0 0 0 1000px white inset;
}

:focus {
    outline: none !important;
}

::-moz-focus-inner {
    border: 0 !important;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 50000s ease-in-out 0s !important;
    border-bottom: solid 1px #d2d2d2 !important;
}

iframe {
    border: 0;
    display: table;
}

button {
    cursor: pointer;
}

.bg-mountain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 800px;
    background-image: url('../img/back_mountain.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    animation-delay: 0.35s;

    &:before {
        content: "";
        background-image: linear-gradient(to top, $color-back, transparentize($color-back, 0.15));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

.tl-site-container {
    position: relative;

    &:before {
        display: block;
        height: 3px;
        position: fixed;
        content: "";
        background-color: $color-primary;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        animation-name: loadBar;
        animation-duration: .5s;
        animation-timing-function: ease-in;
        animation-delay: .5s;
        animation-fill-mode: backwards;
    }
}

.tl-content-container {
    position: relative;
    margin-left: $slidebar-size;
    //padding: 20px;
}
