<!-- build:include header/head.html --><!-- /build -->

<!-- build:include:demo configurator.html --><!-- /build -->
<!-- build:include:dist,navbar,demo preload.html --><!-- /build -->

<div class="bg-mountain animated animated-2x zoomEntry"></div>

<div class="tl-site-container">
    <!-- build:include slidebar.html --><!-- /build -->

    <div class="tl-content-container">
        <!-- build:include:dist,demo,dev header/header.html --><!-- /build -->
        <!-- build:include header/navbar.html --><!-- /build -->
